<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claim Rejections</title>
    <link rel="stylesheet" href="{{url_for('static', filename='claim_resolution.css')}}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Submitted Claims</h1>
        </header>
        
        <div class="content-wrapper">
            <div class="document-section">
                <div class="document-card">
                    <div class="document-preview">
                        <div class="document-icon">Cl 1</div>
                    </div>
                    <div class="document-info">
                        <h2>SBI Health Insurance: DHC20240509001</h2>
                        <h3>Rejected</h3>
                    </div>
                </div>
                <input class = "hidden_value" type="hidden" value="health">
                <button class="add-document-btn" id="add-document-btn">Understand why!</button>
            </div>

            <div class="output" style="display: none;">
                
            </div>
        </div>
    </div>
</body>

<script>
document.querySelector(".add-document-btn").addEventListener("click", function () {
    var btn = document.getElementById("add-document-btn");
    
    // Change the button text to "working"
    btn.textContent = "Working...";
    var msg = document.querySelector(".hidden_value").value.trim();
    console.log("CLICKED");
    insertMessage(msg);
    
    
    // Change the button text to "working"
    
    });
function insertMessage(msg) {
      var messageDiv = document.createElement("div");

      messageDiv.className = "message new";

      

      //here, make a fetch call to flask submit route
      fetch('/resolve_claim', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ type: msg })
      })
        .then(response => response.json())
        .then(data => {
          // Append the response from Flask to the message div
          messageDiv.innerHTML=data.message;
          document.querySelector(".output").style.display = "block";
          document.querySelector(".output").innerHTML = "";
          document.querySelector(".output").appendChild(messageDiv);
          document.getElementById("add-document-btn").textContent = "Understand Why";
        })

   
          

        }

</script>
</html>