<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Bot with Bio-data Form</title>
  <link rel="stylesheet" href="{{url_for('static', filename='2nd_page.css')}}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="bg"></div>
  <div class="container">
    <div class="form-container">
        <form class="bio-form" action="{{url_for('autofill_health_form')}}" method="POST">
          <div class="heading-container">
            <h2>Vehicle-Insurance Form</h2>
            <button class="right-button" type="submit">Auto fill</button>
          </div>
          <h3>Lease Plan Vehicle</h3>
          <div class="form-group">
            <input type="hidden" name="request_type" value="vehicle">
            <label for="registration-number">Registration Number:</label>
            <input type="text" id="registration-number" name="registration-number" value="{{output_json['registration-number'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="department">Department:</label>
            <input type="text" id="department" name="department" value="{{output_json['department'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="dept-contact-name">Dept. Contact Name:</label>
            <input type="text" id="dept-contact-name" name="dept-contact-name" value="{{output_json['dept-contact-name'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{output_json['email'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" value="{{output_json['phone'] if output_json else ''}}" >
          </div>
           
          <div class="form-group">
            <label for="make-and-model">Make and Model:</label>
            <input type="text" id="make-and-model" name="make-and-model" value="{{output_json['make-and-model'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" value="{{output_json['year'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="color">Color:</label>
            <input type="text" id="color" name="color" value="{{output_json['color'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="odometer">Odometer:</label>
            <input type="number" id="odometer" name="odometer" value="{{output_json['odometer'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="num-occupants">Number of Occupants:</label>
            <input type="number" id="num-occupants" name="num-occupants" value="{{output_json['num-occupants'] if output_json else ''}}" >
          </div>
          <h3>Lease Vehicle Driver Details</h3>
          <div class="form-group">
            <label for="driver-name">Name of Driver:</label>
            <input type="text" id="driver-name" name="driver-name" value="{{output_json['driver-name'] if output_json else ''}}" >
          </div>
        
          <div class="form-group">  
            <label for="driver-phone">Phone:</label>
            <input type="tel" id="driver-phone" name="driver-phone" value="{{output_json['driver-phone'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="driver-mobile">Mobile:</label>
            <input type="tel" id="driver-mobile" name="driver-mobile" value="{{output_json['driver-mobile'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="driver-email-fax">E-mail:</label>
            <input type="text" id="driver-email" name="driver-email" value="{{output_json['driver-email'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="years-driving">Years driving:</label>
            <input type="number" id="years-driving" name="years-driving" value="{{output_json['years-driving'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="license-no">License No:</label>
            <input type="text" id="license-no" name="license-no" value="{{output_json['license-no'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="expiry-date">Expiry Date:</label>
            <input type="date" id="expiry-date" name="expiry-date" value="{{output_json['expiry-date'] if output_json else ''}}" >
          </div>
          
          <div class="form-group">
            <label for="alcohol-drug">Alcohol/drug consumption prior accident</label>
            <select id="alcohol-drug" name="alcohol-drug" value="{{output_json['alcohol-drug'] if output_json else ''}}" >
              {% if output_json["alcohol-drug"] == "yes" %}
                <option value="yes" selected>Yes</option>
              <option value="no">No</option>
              {% elif output_json["alcohol-drug"] =="no"%}
              <option value="yes" >Yes</option>
              <option value="no" selected>No</option>
                {% endif %}
            </select>
          </div>
          
          <h3>Accident Details</h3>
          <div class="form-group">
            <label for="accident-date">Date:</label>
            <input type="date" id="accident-date" name="accident-date" value="{{output_json['accident-date'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="accident-time">Time:</label>
            <input type="text" id="accident-time" name="accident-time" value="{{output_json['accident-time'] if output_json else ''}}" >
            
          </div>
          <div class="form-group">  
            <label for="accident-location">Street/Suburb:</label>
            <input type="text" id="accident-location" name="accident-location" value="{{output_json['accident-location'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="road-surface">Road surface:</label>
            <input type="text" id="road-surface" name="road-surface" value="{{output_json['road-surface'] if output_json else ''}}" >
             
          </div>    
          <div class="form-group">
            <label for="lighting">Lighting:</label>
            <input type="text" id="lighting" name="lighting" value="{{output_json['lighting'] if output_json else ''}}" >
              
          </div>
          <div class="form-group">
            <label for="weather-conditions">Weather Condition</label>
            <input type="text" id="weather-conditions" name="weather-conditions" value="{{output_json['weather-conditions'] if output_json else ''}}" >
          </div>
          <div class="form-group">
            <label for="towed">Was your vehicle towed?</label>
            <select id="towed" name="towed"  >
                {% if output_json["towed"] == "yes" %}
                <option value="yes" selected>Yes</option>
              <option value="no">No</option>
              {% elif output_json["towed"] =="no"%}
              <option value="yes" >Yes</option>
              <option value="no" selected>No</option>
                {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label for="reported-to-police">Was this accident reported to the Police?</label>
            <select id="reported-to-police" name="reported-to-police"  >
                {% if output_json["reported-to-police"] == "yes" %}
                <option value="yes" selected>Yes</option>
              <option value="no">No</option>
              {% elif output_json["reported-to-police"] =="no"%}
              <option value="yes" >Yes</option>
              <option value="no" selected>No</option>
                {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label for="police-attend">Did Police attend?</label>
            <select id="police-attend" name="police-attend" value="{{output_json['police-attend'] if output_json else ''}}" >
                {% if output_json["police-attend"] == "yes" %}
                <option value="yes" selected>Yes</option>
              <option value="no">No</option>
              {% elif output_json["police-attend"] =="no"%}
              <option value="yes" >Yes</option>
              <option value="no" selected>No</option>
                {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label for="officer-info">Name/Number of Officer:</label>
            <input type="text" id="officer-info" name="officer-info" value="{{output_json['officer-info'] if output_json else ''}}" >
          </div>
          
          <div class="form-group">
            <label for="responsible-party">Who do you consider responsible for the accident?</label>
            <input  type="text" id="responsible-party" name="responsible-party" value="{{output_json['responsible-party'] if output_json else ''}}" >
              
          </div>


          
          <h3>Injured Persons</h3>
          <div class="form-group">
            <label for="injured-persons">Were there any persons injured?</label>
            <select id="injured-persons" name="injured-persons" value="{{output_json['injured-persons'] if output_json else ''}}" >
                {% if output_json["injured-persons"] == "yes" %}
                <option value="yes" selected>Yes</option>
              <option value="no">No</option>
              {% elif output_json["injured-persons"] =="no"%}
              <option value="yes" >Yes</option>
              <option value="no" selected>No</option>
                {% endif %}
            </select>    
          </div>
         
          <h3>Description of Accident</h3>
          <div class="form-group">
            <label for="description-of-accident">Description:</label>
            <input type="text" id="description-of-accident" name="description-of-accident" rows="3" >{{output_json['description-of-accident'] if output_json else ''}}</textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    <div class="chat">
      <div class="chat-title">
        <h1>Bot</h1>
        <h2>call center</h2>
        <figure class="avatar">
          <img src="https://www.pikpng.com/pngl/m/9-95034_bot-eyes-angry-bot-png-clipart.png" alt="Bot Avatar" />
        </figure>
      </div>
      <div class="messages">
        <div class="messages-content">
            <div class="message new">
                <figure class="avatar"><img src="https://www.pikpng.com/pngl/m/9-95034_bot-eyes-angry-bot-png-clipart.png"
                    alt="avatar" /></figure> Please send me any insurance related queries you have. You can also press Autofill to autofill your claim form once you have provided me enough information, and are satisfied with your conversation. Please note that my responses may take 10-15 seconds initially.
              </div>
        </div>
      </div>
      <div class="message-box">
        <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
        <button type="submit" class="message-submit">Send</button>
      </div>
    </div>
  </div>
  <script>
    var first_time = True;
    document.querySelector(".message-submit").addEventListener("click", function () {
      insertMessage();
    });

    function insertMessage() {
      var msg = document.querySelector(".message-input").value.trim();
      if (msg === "") {
        return false;
      }

      var messageDiv = document.createElement("div");
      messageDiv.className = "message message-personal";
      messageDiv.textContent = msg;

      document.querySelector(".messages-content").appendChild(messageDiv);
      messageDiv.classList.add("new");

      document.querySelector(".message-input").value = "";
      fakeMessage(msg);
    }

    function fakeMessage(msg) {
      var messageDiv = document.createElement("div");
      messageDiv.className = "message new";

      // Create the figure element for the avatar
      var avatarFigure = document.createElement("figure");
      avatarFigure.className = "avatar";

      // Create the img element for the avatar image
      var avatarImg = document.createElement("img");
      avatarImg.src = "https://www.pikpng.com/pngl/m/9-95034_bot-eyes-angry-bot-png-clipart.png";
      avatarImg.alt = "avatar";

      // Append the img to the figure
      avatarFigure.appendChild(avatarImg);

      // Append the figure to the message div
      messageDiv.appendChild(avatarFigure);

      //here, make a fetch call to flask submit route
      if(first_time==True){
        
      }
     
      fetch('/health_question', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ message: msg, type: "vehicle" })
      })
        .then(response => response.json())
        .then(data => {
          // Append the response from Flask to the message div
          //messageDiv.appendChild(document.createTextNode(data.message));
          messageDiv.innerHTML=data.message;
        })
          // Append the message div to the messages content container
          document.querySelector(".messages-content").appendChild(messageDiv);

          // Optionally add the "new" class if needed
          messageDiv.classList.add("new");
        }

</script>
</body>
</html>